* {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 40rem;
    background-color: rgb(24, 24, 24);
    border-radius: 1rem;

    header {
      ul {
        display: flex;
        justify-content: flex-end;
        margin-block: 0.75rem;

        li {
          margin-right: 1rem;
        }

        .logo {
          margin-left: 1rem;
          margin-right: auto;
        }

        a {
          &:hover {
            color: rgb(255, 255, 127);
          }
        }
      }
    }

    .main_page {
      text-align: center;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-inline: 1rem;
      }
    }
  }
}
