.buttonComponent {
  border: solid 1px rgb(126, 218, 90);
  background-color: rgb(0, 20, 0);
  color: rgb(126, 218, 90);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.75rem;
  width: 100%;

  text-align: center;
  &:hover {
    cursor: pointer;
    border: solid 1px rgb(138, 214, 108);
    background-color: rgb(0, 42, 0);
    color: rgb(138, 218, 108);
  }

  &.orangeButton {
    border: solid 1px rgb(228, 83, 47);
    background-color: rgb(20, 10, 0);
    color: rgb(219, 109, 58);
    &:hover {
      cursor: pointer;
      border: solid 1px rgb(235, 104, 71);
      background-color: rgb(43, 21, 0);
      color: rgb(219, 123, 78);
    }
  }
}
