.headerComponent {
  margin-block: 1.5rem;

  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;

      li {
        height: 100%;
        width: auto;
        flex: 1;

        .navlink {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 600;

          img {
            height: 2.5rem;
          }
        }
      }
      li.logo {
        img {
          height: 5rem;
        }
        flex: 0;
      }
    }
  }
}
