.headerComponent {
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;

  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;

      li {
        height: 100%;

        width: auto;

        .navlink {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 600;
          margin-inline: 0.5rem;
          border: solid 1px #00000000;
          font-size: 0.75rem;

          &.active:not(.logolink) {
            color: #fff38c;
            /*border: solid 1px #ffe139;*/
            /*box-shadow: 0 0 6px #ffe139;*/
            border-bottom: solid 2px;
            padding-bottom: 0.5rem;
            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(22%)
                saturate(7335%) hue-rotate(311deg) brightness(122%)
                contrast(102%);
            }
          }

          img {
            height: 2rem;
          }
        }
      }
      li.logo {
        margin-inline: calc(17% - 2.75rem);
        img {
          width: rem;
          height: 4rem;
        }
      }
    }
  }
}
