.positiveMessageComponent {
  border: dashed 1px rgba(149, 219, 83, 0.9);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  width: calc(100% - 2rem);
  p {
    color: rgba(149, 219, 83, 0.9);
  }
}
